.blog ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}
.blog li {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  color: black;
}
.blog a {
  text-decoration: none;
  margin: 20px;
}

.blog {
  margin-bottom: 10px;
  padding-top: 10px;
  background-color: blue;
  height: 40px;
}
